{% extends "base.html" %} 
{% load static %} 

{% block title %} 
{{identity.title}} 
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{identity.title}}</h2>
  <article>
    <img src="{% static "blog/images/"|add:identity.image %}" alt="{{identity.title}}" />
    <address>By {{identity.author}}</address>
    <div>Last updated on <time>{{identity.date}}</time></div>
  </article>
</section>

<main>
  <p>
    {{identity.content}}
  </p>
</main>
{% endblock %}